header {
  text-align: center;
}

h2 {
  font-size: 1.7rem;
  color: #413d6a;
}

.success {
  font-size: 1.2rem;
  color: #4bc537;
  animation: fade-in 1s linear;
}

.err {
  font-size: 1.2rem;
  color: #b00020;
  animation: shake 1s linear;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }

  80% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }

  90% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}